/*! CSS Used from: Embedded */
html {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
}
body {
    margin: 0px;
}
.content {
    max-width: 80%;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
}
*,*::before,*::after{box-sizing:border-box;}
ul{padding-left:2rem;}
ul{margin-top:0;margin-bottom:1rem;}
a{color:var(#37383d);text-decoration:underline;}
a:hover{color:var(#2c2d31);}
img,svg{vertical-align:middle;}
[role=button]{cursor:pointer;}
::-moz-focus-inner{padding:0;border-style:none;}
.nav-link{display:block;padding:var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);font-size:var(--bs-nav-link-font-size);font-weight:var(--bs-nav-link-font-weight);color:var(--bs-nav-link-color);text-decoration:none;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;}
@media (prefers-reduced-motion: reduce){
.nav-link{transition:none;}
}
.nav-link:hover,.nav-link:focus{color:var(--bs-nav-link-hover-color);}
.nav-link.active {
    color: #000d;
}
.navbar{--bs-navbar-padding-x:0;--bs-navbar-padding-y:0px;--bs-navbar-color:rgba(0, 0, 0, 0.55);--bs-navbar-hover-color:rgba(0, 0, 0, 0.7);--bs-navbar-disabled-color:rgba(0, 0, 0, 0.3);--bs-navbar-active-color:rgba(0, 0, 0, 0.9);--bs-navbar-brand-padding-y:0.3125rem;--bs-navbar-brand-margin-end:1rem;--bs-navbar-brand-font-size:1.25rem;--bs-navbar-brand-color:rgba(0, 0, 0, 0.9);--bs-navbar-brand-hover-color:rgba(0, 0, 0, 0.9);--bs-navbar-nav-link-padding-x:0.5rem;--bs-navbar-toggler-padding-y:0.25rem;--bs-navbar-toggler-padding-x:0.75rem;--bs-navbar-toggler-font-size:1.25rem;--bs-navbar-toggler-icon-bg:url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%280, 0, 0, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e);--bs-navbar-toggler-border-color:rgba(0, 0, 0, 0.1);--bs-navbar-toggler-border-radius:0.375rem;--bs-navbar-toggler-focus-width:0.25rem;--bs-navbar-toggler-transition:box-shadow 0.15s ease-in-out;position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding:var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);}
.navbar>.container-fluid{display:flex;flex-wrap:inherit;align-items:center;justify-content:space-between;}
.navbar-brand{padding-top:var(--bs-navbar-brand-padding-y);padding-bottom:var(--bs-navbar-brand-padding-y);margin-right:var(--bs-navbar-brand-margin-end);font-size:var(--bs-navbar-brand-font-size);color:var(--bs-navbar-brand-color);text-decoration:none;white-space:nowrap;}
.navbar-brand:hover,.navbar-brand:focus{color:var(--bs-navbar-brand-hover-color);}
.navbar-nav{--bs-nav-link-padding-x:0;--bs-nav-link-padding-y:0.5rem;--bs-nav-link-color:var(--bs-navbar-color);--bs-nav-link-hover-color:var(--bs-navbar-hover-color);--bs-nav-link-disabled-color:var(--bs-navbar-disabled-color);display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none;}
.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center;}
@media (min-width: 992px){
.navbar-expand-lg{flex-wrap:nowrap;justify-content:flex-start;}
.navbar-expand-lg .navbar-nav{flex-direction:row;}
.navbar-expand-lg .navbar-nav .nav-link{padding-right:var(--bs-navbar-nav-link-padding-x);padding-left:var(--bs-navbar-nav-link-padding-x);}
.navbar-expand-lg .navbar-collapse{display:flex!important;flex-basis:auto;}
}
.d-inline-block{display:inline-block!important;}
.w-100{width:100%!important;}
.mx-4{margin-right:1.5rem!important;margin-left:1.5rem!important;}
.me-auto{margin-right:auto!important;}
.p-2{padding:.5rem!important;}
.fs-2{font-size:calc(1.325rem + 0.9vw)!important;}
.bg-light{--bs-bg-opacity:1;background-color:rgba(248, 249, 250, 1)!important;}
@media (min-width: 1200px){
.fs-2{font-size:2rem!important;}
}
.github.svelte-104jkqf{width:40px;height:auto;}
.github > svg{fill:#5f5f5f;transition:fill 0.3s;max-width:3rem;}
.github:hover > svg{fill:black;}