#static-svg-map, #canvas {
    display: block;
    height: auto;
}

#paths path {
    stroke: #7c490ea0;
    stroke-dasharray: 5px;
    stroke-width: 2;
    fill: none;
}
#outline {
    pointer-events: none;
}
#graticule {
    pointer-events: none;
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}
#land {
    pointer-events: none;
    stroke: #00000000;
    stroke-width: 1px;
    fill: #ffffffff;
}

.country {
    stroke: #d1beb0;
    stroke-width: 2px;
    fill: #f3efec;
}
.country:hover {
    fill: #f0e0e0;
}
.adm1 {
    stroke: #D1BEB038;
    stroke-width: 2px;
    fill: #ffffffd0;
}
.adm1:hover {
    fill: #7c490ea0;
}

#tooltip {
    position: absolute;
}