$primary: #506784;

$accordion-padding-y: 0.3rem;
$accordion-padding-x: 0.4rem;
$accordion-body-padding-y: 0px;
$accordion-body-padding-x: 0px;
$accordion-border-width: 1px;
$accordion-border-radius: 5px;
$accordion-inner-border-radius: 5px;
$accordion-button-color: white;
$accordion-button-bg: $primary;
$accordion-button-active-color: white;
$accordion-button-active-bg: $primary;

$form-range-thumb-width: 0.8rem;
$form-range-thumb-height: 1rem;
$form-range-thumb-border-radius: 2px;
$form-label-margin-bottom: 0;
$input-padding-y: 2px;
$navbar-padding-y: 0px;

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// // 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";

// // 4. Include any default map overrides here

// // 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

$tooltip-bg: $primary;

// // 6. Optionally include any other parts as needed
@import "bootstrap/scss/grid";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/navbar";
@import "bootstrap/scss/close";
@import "bootstrap/scss/dropdown";

@import "bootstrap/scss/helpers";
@import "bootstrap/scss/type";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";
@import '../../node_modules/inline-style-editor/dist/inline-style-editor.css';

html {
    font-family: Open Sans, --apple-default, sans-serif;
    font-size: 14px;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#contextmenu {
    max-width: 15rem;
    background-color: #f8f8f8;

    div[role="button"] {
        &:hover {
            background-color: #e2eef8;
        }
    }
}

.accordion-item.noborder {
    border: none;
}

.accordion-item .picker_sample {
    display: none;
}

.accordion-item .picker_editor {
    display: none;
}

.range-label {
    min-width: 3rem;

}

.help-tooltip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: $secondary;
    border-radius: 100%;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 5px;
    flex-shrink: 0;
    cursor: pointer;
    padding: 0;
}

.big-tooltip {
    --bs-tooltip-max-width: 500px;
}

.color-preview {
    width: 23px;
    height: 23px;
    flex: 0 0 auto;
}

.accordion-item>.input-type {
    padding-right: 6px;
}

.accordion-item:last-of-type>.input-type {
    padding-bottom: 6px;
}

#main-menu>.accordion>.accordion-item {
    margin-bottom: 1rem;
}

#main-menu>div {
    background-color: white;
}

.icon-add svg {
    color: #253446;
}

.icon-add:hover svg {
    color: #506784;
}

#static-svg-map text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

aside .nav-link.active {
    border-top: 3px solid #95b0ff !important
}

.picker_wrapper.popup {
    z-index: 9999;
}

.col-form-label {
    font-weight: initial;
}

.field {
    border-top: 1px solid #dfe8f3;
    display: flex;
    font-size: 13px;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 32px;
    padding: 3px 8px;
    width: 100%;
    position: relative;
    color: $primary;
    &:first-child {
        border-top: 0;
    }
}
#main-menu {
    color: $primary;
    font-size: 14px;
    width: 90%;
}
.popup.popup_right {
    left: -30px !important;
}

.hidden, .hidden-after {
    display: none;
}

#micro > path {
    fill-opacity: 0.5;
}
#micro > .building {
    fill: #f5dc98;
} 
#micro > .transportation-minor {
    fill: #ffffff;
} 
#micro > .transportation-service {
    fill: #c0c0c0;
} 
#micro > .landcover-grass {
    fill: #b7f380;
} 
#micro > .landcover-wood {
    fill: #7cd12c;
} 
#micro > .water-river {
    fill: #2c8fd1;
} 
#micro > .water-lake {
    fill: #3da1e4;
} 
#micro > .water-pond {
    fill: #5bb9f8;
} 
#micro > .water-swiming_pool {
    fill: #8ed2ff;
} 