$primary: #37383d;
$accordion-padding-y: 0.5rem;
$accordion-padding-x: 0.6rem;
$accordion-body-padding-y: 0;
$accordion-body-padding-x: 0;
$accordion-border-width: 0;
$form-range-thumb-width: 0.8rem;
$form-range-thumb-height: 1rem;
$form-range-thumb-border-radius: 2px;
$accordion-inner-border-radius: 0;
$accordion-border-radius: 0;
$form-label-margin-bottom: 0;
$input-padding-y: 2px;
$navbar-padding-y: 0px;

$nav-pills-link-active-bg: #777;
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// // 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";

// // 4. Include any default map overrides here

// // 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
$accordion-button-bg: tint-color($component-active-bg, 90%);
$tooltip-bg: $primary;

// // 6. Optionally include any other parts as needed
@import "bootstrap/scss/grid";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/close";
@import "bootstrap/scss/dropdown";

@import "bootstrap/scss/helpers";
@import "bootstrap/scss/type";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";
@import '../../node_modules/inline-style-editor/dist/inline-style-editor.css';

html {
    font-size: 14px;
}

#contextmenu {
    max-width: 15rem;
    background-color: #f8f8f8;

    div[role="button"] {
        &:hover {
            background-color: #e2eef8;
        }
    }
}

.accordion-item.noborder {
    border: none;
}

.accordion-item .picker_sample {
    display: none;
}

.accordion-item .picker_editor {
    display: none;
}

.range-label {
    min-width: 3rem;

}

.help-tooltip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: $secondary;
    border-radius: 100%;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 5px;
    flex-shrink: 0;
    cursor: pointer;
}

.big-tooltip {
    --bs-tooltip-max-width: 500px;
}

.github {
    width: 40px;
    height: auto;
}

.github>svg {
    fill: #5f5f5f;
    transition: fill 0.3s;
    max-width: 3rem;
}

.github:hover>svg {
    fill: black;
}
.color-preview {
    width: 23px;
    height: 23px;
    flex: 0 0 auto;
}
.accordion-item > .input-type {
    padding-right: 6px;
}
.accordion-item:last-of-type > .input-type {
    padding-bottom: 6px;
}

#static-svg-map text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
aside .nav-link.active {
    border-top: 3px solid #95b0ff !important
}
.picker_wrapper.popup {
    z-index: 9999;
}