#static-svg-map,
#canvas {
    display: block;
    height: auto;
    contain: content;
}

text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#paths > path {
    stroke: #7c490ea0;
    stroke-dasharray: 5px;
    stroke-width: 2;
    fill: none;
}

#outline {
    pointer-events: none;
}

#graticule {
    pointer-events: none;
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}
#points-labels {
    stroke-width: 0px;
}
.country {
    stroke: #bfbfbf;
    stroke-width: 1px;
    fill: #f3efec;
    stroke-linejoin: round;
}

.country.hovered {
    fill: #f9f2eb;
}

.adm {
    stroke: #c4b8a3ff;
    stroke-width: 1px;
    fill: #ffffffd0;
    stroke-linejoin: round;
}

.adm.hovered {
    stroke: #d29d52ff;
    fill: #ecd6b6ff;
    stroke-width: 2px;
}

#tooltip {
    position: absolute;
}

foreignObject > body {
    padding: 0;
    margin: 0;
}